<label for="eventResource">Recurso: </label>
<select [(ngModel)]="eventResource">
  <option value="hiring">hiring</option>
  <option value="beneficiary">beneficiary</option>
  <option value="payroll-adjustment">payroll-adjustment</option>
</select>
<label for="eventResource">Id del recurso: </label>
<input type="text" name="resourceOwnerId" id="resourceOwnerId" [(ngModel)]="resourceOwnerId">
<button (click)="connect()">Conectar</button>
<button (click)="disconnect()">Desconectar</button>
<button *ngIf="!buttonSave; else save" (click)="senEditMessage()">Editar</button>
<ng-template #save>
  <button>Guardar</button>
</ng-template>